<meta charset="UTF-8">
<style>
style {
    display: none !important;
}
._customer-category__wrap {
    max-width: 627px;
    font: 14px/19px Arial, sans-serif;
    color: #000000;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}
._customer-category__top {
    display: block !important;
    padding-top: 13px;
 }
._customer-category__title {
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
    background: url("img/block_category/item-ttl.png") no-repeat 0 5px;
    padding-left: 32px;
    display: block !important;
}
ul._customer-category__list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0 !important;
    margin-top: 20px;
    margin-left: 0 !important;
}
._customer-category__item {
    width: 42%;
    padding-right: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #ff1124;
    padding-bottom: 20px;
    position: relative;
    display: block !important;
}
._customer-category__item:after {
    content: url("img/block_category/item.png");
    display: block !important;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 2px;
}
._customer-category__bottom {
    background: url("img/block_category/bg-bottom.png") no-repeat;
    background-position: right bottom;
    background-size: cover;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 53px;
    box-sizing: border-box;
}
._customer-category__contacts {
    display: flex !important;
    flex-wrap: wrap;
}
._customer-category__action {
    width: 45%;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    line-height: 23px;
    display: block !important;
}
._customer-category__contact {
    width: 35%;
    display: block !important;
}
._customer-category__phone {
    margin-bottom: 10px;
    text-align: left;
    position: relative;
    padding-left: 30px;
    display: block !important;
}
._customer-category__phone:before {
    content: url("img/block_category/phone-bottom.png");
    display: block !important;
    position: absolute;
    top: 3px;
    left: 10px;
}
._customer-category__phone a {
    font-size: 18px;
    color: #ffffff;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
._customer-category-btm__btn {
    width: 205px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background: #E81828;
    box-shadow: 0 5px 10px rgba(255, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff!important;
    font-weight: bold;
    display: block !important;
    text-decoration: none;
}
._customer-category-btm__btn:hover {
    opacity: 0.8;
}

@media (max-width: 1205px) {
    ._customer-category__bottom {
        display: block;
    }
    ._customer-category__action {
        width: 65%;
        margin-bottom: 10px;
    }
    ._customer-category__contact {
        width: 45%;
    }
    ._customer-category-btm__btn {
        margin-bottom: 30px;
    }
}

@media (max-width: 1040px) {
    ._customer-category__action {
        font-size: 16px;
    }
    ._customer-category__phone a {
        font-size: 16px;
    }
    ._customer-category-btm__btn {
        font-size: 14px;
        width: 165px;
    }
    ul._customer-category__list {
        display: block !important;
    }
    ._customer-category__item {
        width: 100%;
        padding-right: 0;
    }
}

</style>

<div class="_customer-category__wrap">
    <div class="_customer-category__top">
        <div class="_customer-category__title">Метизная продукция от производителей России, Германии, Китая</div>
        <div class="_customer-category__title">Собственное производство крепежа и других металлоизделий</div>
        <ul class="_customer-category__list">
            <li class="_customer-category__item">Работаем по ГОСТ, ОСТ, ТУ, чертежам и эскизам заказчиков.<br> Возможно изготовление деталей со сложной геометрией.</li>
            <li class="_customer-category__item">Используем любые марки сталей, в том числе высокопрочные, нержавеющие, а также цветные металлы.</li>
            <li class="_customer-category__item">По желанию производим термообработку и оцинковываем готовые изделия.</li>
            <li class="_customer-category__item">Вся продукция сопровождается сертификатом на металл и техническим паспортом изделия.</li>
        </ul>
    </div>

    <div class="_customer-category__bottom">
        <div class="_customer-category__contacts">
            <div class="_customer-category__action">
                Экономьте на покупке крепежа с нашей программой скидок
            </div>
            <div class="_customer-category__contact">
                <div class="_customer-category__phone">
                    <a href="tel:+73432663733" onclick="yaCounter37685960.reachGoal('megasite_comblock_order'); return true;">+7 (343) 266-37-33</a>
                </div>
                <div>
                    <a class="_customer-category-btm__btn" href="http://www.ukdpartner.ru/sale/77596-poluchite-svoy-bonus">Узнать подробнее</a>
                </div>
            </div>
        </div>
    </div>

</div>