<meta charset="UTF-8">
<style type="text/css">
/* Toolbar */
._customer-toolbar {
	width: 100%;
	background: linear-gradient(180deg, #F9F9F9 0%, #DCDCDC 100%);
	box-shadow: 0 5px 10px rgba(232, 24, 40, 0.25);
	font: normal 14px/1 Arial, sans-serif;
	color: #333333;
	border-bottom: 2px solid #E81828;
	white-space: nowrap;

}
._customer-toolbar__cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1227px;
	margin: 0 auto;
	padding: 0;
}
._customer-toolbar ul {
	display: flex;
	padding: 0;
	list-style: none !important;
	margin: 0 !important;
}
._customer-toolbar a {
	display: flex;
	align-items: center;
	height: 55px;
	color: inherit !important;
	text-decoration: none;
	margin: 0 9px;
}
._customer-toolbar {
	margin: 0;
}
._customer-toolbar__logo img {
	margin-right: 10px;
}

._customer-toolbar a:hover {
	text-decoration: underline;
}
._customer-toolbar ._customer-toolbar__logo {
	width: 206px;
}
._customer-toolbar ._customer-toolbar__logo:hover {
	text-decoration: none;
}
._customer-toolbar__contact {
	box-sizing: border-box;
	padding-left: 25px;
	position: relative;
}
._customer-toolbar__contact:before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 9px);
	left: 0;
}
._customer-toolbar__contact_phone:before {
	background-image: url('img/toolbar/phone.png');
}
._customer-toolbar__contact_mail:before {
	background-image: url('img/toolbar/mail.png');
}
._customer-search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 319px;
	min-width: 170px;
	height: 28px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	margin: 0 0 0 10px !important;
}
._customer-search .sf-input-wrapper {
	width: 100%;
	height: 100%;
}
._customer-search input {
	width: 100%;
	height: 100% !important;
	box-sizing: border-box;
	outline: none;
	padding: 0 40px 0 10px !important;
	background-color: #fff;
	font: normal 12px/1 'Roboto', Arial, sans-serif !important;
	color: #828282;
	border: 1px solid #E81828;
}
._customer-search button {
	width: 28px !important;
	height: 26px !important;
	background-color: #ffffff;
	background-repeat: no-repeat !important;
	background-position: center !important;
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
	outline:none !important;
	opacity: 1 !important;
}
._customer-search button:before {
	width: 28px !important;
	height: 28px !important;
	content: url('img/toolbar/search.png') !important;
	position: absolute;
	top: -2px;
	right: 0;
	padding-top: 10px;
}
._customer-search button:hover {
	opacity: .85 !important;
}
._customer-search button:active {
	opacity: .7 !important;
}
.custom-button {
	background: #ffffff !important;
}

/* end Toolbar */
</style>
<!-- Toolbar -->
<div class="_customer-toolbar">
	<div class="_customer-toolbar__cont">
		<div>
			<a class="_customer-toolbar__logo" href="http://www.ukdpartner.ru/" title="На главную">
				<img src="img/toolbar/icon.jpg" />
				<img src="img/toolbar/logo.png" /> </a>
		</div>

		<ul>
			<li class="_customer-toolbar__upp"><a href="/catalog">Каталог</a></li>
			<li class="_customer-toolbar__upp"><a href="/contacts">Контакты</a></li>
			<li class="_customer-toolbar__upp"><a href="/about">О компании</a></li>
		</ul>

		<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.ukdpartner.ru/catalog" class="_customer-search search-form with-search-icon" method="get" onsubmit="formSubmitter.disableButtons(this, null, null);">
			<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>

			<div class="sf-input-wrapper"><input class="sf-input js-reset-field" id="q2" maxlenght="255" name="q" placeholder="Найти товар или услугу..." type="text" /></div>
			<button class="custom-button" name="commit" type="submit" value="Поиск"></button></form>

		<ul>
			<li><a class="_customer-toolbar__contact _customer-toolbar__contact_phone" href="tel:88003339190" onclick="yaCounter37685960.reachGoal('megasite_toolbar_email'); return true;">8 (800) 333-91-90</a></li>
			<li><a class="_customer-toolbar__contact _customer-toolbar__contact_mail" href="mailto:2663733@mail.ru" onclick="yaCounter37685960.reachGoal('megasite_toolbar_tel'); return true;">2663733@mail.ru</a></li>
		</ul>
	</div>
</div>
<!-- end Toolbar -->